<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home Page</title>
</head>
<body>
    <!-- <h1>{{greeting}}{{pageTitle}}</h1> -->
    {{> header}}
    <h2>{{screamIt greeting}}</h2>
    <p>Some text here.</p>

    {{> footer}} <!-- footer es el nombre del partial-->    
</body>
</html>